/* Estilização geral do site */
html {

    font-family: 'Quicksand';
    font-size: 20px;
    box-sizing: border-box;
    color: white;
    background-color: rgb(194, 194, 230); 
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
/* Fonte personalizada, com uso pessoal autorizado pelo criador */
@font-face {
    font-family:'Quicksand';
    src: url(fonts/Quicksand_Book.otf);
}

h2 {
    font-weight:900;
    text-align: center;
}

:link {
    text-decoration: none;
    color: rgb(50, 50, 112);
}

a:hover {
    color: #9e35c8
}

:visited {
    color: white;
}

.centralizedText {
    text-align: center;
}

/* Definição de grid para diagramação do site, com 4 linhas e 3 colunas */
.container {
    display: grid;
    grid-template: repeat(4, 25%) / 35% 30% 35%;
}

/* Definições para header e associados */
header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.mainTitle {
    margin-top: 15px;
    margin-left: 40px;
}

/* Definições para barra de navegação no topo e seus subelementos */
nav {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    padding: 0;
    text-align: center;
}

nav ul {
    height: 100%;
    list-style: none;
    padding: 0;
    padding-top: 20px;
}

nav li{
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
    font-weight: 700;
}

nav a:link {
    color: white;
    font-size: 12;
}

/* Animação para os links de navegação, associada à pseudoclasse hover */
nav li:hover {
    background-image: linear-gradient(white, rgba(255, 255, 255, 0));
    background-size: 100px auto;
    padding-bottom: 50px;
    margin: 0px;
    transition-duration: 400ms;
    transition-timing-function: ease;
    box-sizing: content-box;
}
nav a:hover {
    color: black;
    overflow: visible;
}

/* Definição geral de aside e para asides à esquerda e à direita */
aside {
    grid-row: 2 / 4;
    font-size: 24px;
    margin: auto 20px;   
}
.asdL {
    grid-column: 1 / 2;
}
.asdR {
    grid-column: 3 / 4;
}

/* Estilização ao nome do autor no aside do index */
#bigName {
    font-size:xx-large;
    text-transform: uppercase;
    font-weight: bold;
}

/* Tratamento para imagens do autor presentes no index e no about */
#photoHome {
    width: 60%;
    margin: 10px auto;
}
#photoAbout {
    width: 70%;
    background-color: white;
    border-radius: 50%;
}

/* Elemento grid para ocupar toda a tela e estilizações relacionadas */
main {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    padding: 30px 10px;
}

main table {
    margin: auto;
    /* line-height: 25px; */
}

#mainAbout li {
    margin-left: 20px;
}

/* Elemento grid para dividir espaço com aside */
section {
    grid-row: 2 / 3;
    padding: 30px 0px;
    margin: 10px auto;
}
section.left {
    grid-column: 1 / 3;
}
section.right {
    grid-column: 2 / 4;
}

/* Definições para o formulário em contact.html */
form {
    font-size: 22px;
    margin: 20px auto;
    padding: 20px 40px 20px 40px;
    background-color: rgb(231, 230, 247);
    border-radius: 20px;
    width: 30%;
    color: black;
}
form button {
    width: 90px;
    height: 30px;
    margin: 5px 0px;
}
form input {
    height: 30px;
    margin: 2px 0px;
}

/* Classes utilitárias */

.justSelfCenter {
    justify-self: center;
}

.centralArticle {
    width: 60%;
    /* align-self: center; */
    margin: 0 auto;
}

.articleBox {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 24px;
    /* width: 740px;
    margin: auto; */
}

.certifImg {
    height: 300px;
    margin: 2px auto;
    display: block;
}

.portfolio {
    width: 740px;
    margin: 20px auto;
}

.projectImg {
    width: 500px;
    display: block;
    margin: 10px auto;
}

.projectImg img {
    width: 100%;
}

.icon {
    display: block;
    height: 60px;
    margin: 10px auto;
    /* border-radius: 10px; */
}