html {
    /* background-color: rgb(200, 200, 255); */
    /* text-align: center; */
    font-family: 'Quicksand';
    font-size: 20px;
    box-sizing: border-box;
    color: white;
}

@font-face {
    font-family:'Quicksand';
    src: url(quicksand/Quicksand_Book.otf);
}
body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(168, 173, 255); */
    /* background-image: linear-gradient(rgb(48, 48, 48), rgb(110, 110, 110));  */
    background-color: rgb(194, 194, 230); 
    /* rgb(49, 49, 49)); */
}

/* Definição de grid para diagramação */
.container {
    display: grid;
    grid-template: repeat(5, 20%)/ 35% 30 35%;
    /* gap: 5px; */
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    /* text-align: center; */
}
.mainTitle {
    margin-left: 40px;
}

nav {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    /* margin-top: 10px; */
    padding: 0;
    align-content: center;
    text-align: center;
    box-sizing: border-box;
}

nav ul {
    /* width: 90%; */
    height: 100%;
    list-style: none;
    /* margin: 20 auto; */
    padding: 0;
    /* font-size: 12; */
}
nav li{
    /* font-size: 24; */
    /* height: 100%;  não funciona*/
    display: inline;
    /* background-color: rgb(86, 86, 209); */
    /* width: 200px; */
    /* border-radius: 80px; */
    /* margin: 20px auto; */
    /* padding: 20px; */
    margin: 0px 10px;
}
nav a {
    color: white;
    font-size: 12;
    /* font-size: larger; */
}
:link {
    text-decoration: none;
}
/* nav ul:hover {
    margin: 0;
    padding: 20px;
} */
nav li:hover {
    /* color: black; */
    background-image: linear-gradient(white, rgba(255, 255, 255, 0));
    background-size: 100px auto;
    /* padding-top: 10px; */
    padding: 20px 10px 30px 10px;
    margin: 0px;
    /* padding-bottom: 30px; */
    box-sizing: content-box;
    /* height: 200px; não funciona */
    }
nav a:hover {
    color: black;
    /* background-image: linear-gradient(white, rgba(255, 255, 255, 0)); */
    /* background-size: 100px auto; */
    overflow: visible;
}

aside {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    font-size: 24px;
    /* text-align:justify; */
    margin:auto 20px;   
}
#bigName {
    font-size:xx-large;
    text-transform: uppercase;
    font-weight: bold;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}
#photoBox {
    background-image: radial-gradient(rgb(225, 229, 230), rgb(194, 194, 230));
    width: 80%;
    border-radius: 50%;
}
.photo {
    width: 60%;
    margin: 10px auto;
    /* height: 300px; */
    /* border-radius: 50%; */
}

main {
    /* text-align: center; */
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
#mainIA {
    text-align: center;
}
#mainCtt {
    grid-column: 1 / 4;
    text-align: center;
}

form {
    text-align: center;
    font-size: 22px;
}

footer {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    text-align: center;
}
/* Barra de progresso da leitura */
#progressBar {
    width: 50%;
    height: 30px;
    margin: 5px auto;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 10px;
    align-content: center;
}
#bar {
    height: 24px;
    width: 99.5%;
    /* background-color: rgb(179, 179, 255);*/
    background-color: rgb(255, 255, 255);
    margin: 0px 2px;
    /* border-radius: inherit; */
    border-radius: 7px;
    align-content: center;
    box-sizing: border-box;
}

#bottomAlert {
    text-align: center;
    /* position: absolute;
    margin-bottom: 5px; */
}